<h1>Design</h1>
 <div class="center hero-unit">
 	<h2>
    <a href="http://omrails.com/">One Month Rails</a>
    is a project to teach 
    <a href="http://rubyonrails.org/">Ruby on Rails</a> 
    in one month. This is the sample application.
	</h2>